<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/triangle"
        android:label="Triangle"
        android:roundIcon="@drawable/triangle"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".passing_profile"
            android:exported="false" />
        <activity
            android:name=".profiledetail"
            android:exported="false" />
        <activity
            android:name=".personaldetails"
            android:exported="false" />
        <activity
            android:name=".forgotpassword"
            android:exported="false"
            android:theme="@style/Theme.ProjekUTS" />
        <activity
            android:name=".splash"
            android:exported="true"
            android:theme="@style/Theme.ProjekUTS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu"
            android:exported="false"
            android:theme="@style/Theme.ProjekUTS" /> <!-- Aktivitas Lainnya -->
        <activity
            android:name=".KonversiActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjekUTS" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjekUTS" />
        <activity
            android:name=".KalkulatorActivity"
            android:exported="false" />
        <activity
            android:name=".registerActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjekUTS" />
        <activity
            android:name=".pilihan"
            android:exported="false"
            android:theme="@style/Theme.ProjekUTS" />
    </application>

</manifest>